@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "text";

body, html {
  @apply m-0 p-0 overflow-hidden;
  scroll-behavior: smooth;
}

* {
  font-family: 'Jakarta', serif;
  scroll-behavior: smooth;
}

.swiper {
  padding-left: 2rem !important;
}

@media screen and (max-width: 1600px) {
  .swiper {
    padding-left: 1.25rem !important;
  }
}

@media screen and (max-width: 900px) {
  .swiper {
    padding-left: 5vw !important;
  }
}

@media screen and (min-width: 900px) {
  .swiper-wrapper {
    > * {
      max-width: min-content;
    }
  }

  ::-webkit-scrollbar {
    width: .7rem;
    padding-right: .1rem;
    margin: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    padding-right: .1rem;
    margin-top: 11.25rem;
  }

  ::-webkit-scrollbar-thumb {
    width: .4rem;
    background: rgba(61, 71, 86, 0.33);
    border-radius: 1rem;
    border: .2rem solid white;
  }
}

.section {
  @apply h-[100svh] w-screen box-border flex snap-start;
}

main {
  scroll-snap-type: y mandatory;
}

nextjs-portal {
  display: none;
}